*{
    margin: 0;padding: 0;
     font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
:root{
    --green: #64ebb6;
    --blue:#28aadb;
    --marginhero: 5vh 10%;
}
body,html{
    height: 100%;
    font-size: 20px;
    scroll-behavior: smooth;
    /* background-color: #D8FAFA; */
}
nav{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: 10vmin;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    
}
nav .logo{
    display: flex;
    gap: 1.5vmin;
}nav .logo:hover{
    cursor: pointer;
}
nav .logo .logo-text{
    color: var(--blue);
}
nav .logo img{
    height: 7.5vmin;
    width: auto;
    
}
nav .navlist{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 2vmax;

}

nav .navlist li a{
    text-decoration: none;
    color: var(--blue);
}
nav .navlist li a:hover{
    text-decoration: underline;
    color: var(--green);
}
 .btn{
    background:linear-gradient(to right,var(--blue),var(--green));
    color: white;
    width: 9vmax;
    height: 5vmin;
    border: none;
    border-radius: 8px;
}
.btn:hover{
    opacity: 0.6;
    cursor: pointer;
}
main{
    display: flex;
    height: auto;
    background: linear-gradient(to bottom,#D8FAFA,white);
    padding: 5vh;
}
.left-main{
    width: 70%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
}
.left-main .main-text{
    margin-top: 10vmin;
    color: black;
    max-width: 60%;
    font-size: 3.5rem;
}
.left-main .main-text .special-text{
    color: var(--blue);
}
.main-para{
    color: black;
    line-height: normal;
    max-width: 60%;
    opacity: 0.8;
    margin: 3vmin 0;
}

.left-main .records{
    display: flex;
    margin: 5vh 0;
    gap: 7vw;

}
.left-main .records .first-rec{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.left-main .records .first-rec .main-rec{
    font-size: 1.4rem;
    font-weight: 800;
}

.right-main{
    margin-top: 10vmin;
    width: 30%;
    background-color: var(--blue);
    border: none;
    
    border-top-left-radius: 15vmax;
    border-bottom-left-radius: 5vmax;
}
.right-main img{
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;

}
#companies{
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}
#companies img{
    margin: 5vh auto;
}
#doc{
    margin: var(--marginhero);
}
.consultdoc{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#doc .first-line{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}
#doc .header-text{
    color: var(--blue);
    font-size: 1.4rem;
    font-weight: 800;
}
#doc .desc{
    font-size: 0.8rem;
    margin: 1vh 15%;
}

#liveconsult{
    margin: 2vh 0;
    

}
#liveconsult .bannerchat{
    height: 25vmin;
    width: 85%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1% 45% 45% 1%;
    border:1vh solid  #D8FAFA;
    
}
#liveconsult .bannerchat img{
    object-fit: contain;
    height: 20vmin;
    margin-left: 2vw;
    
}
#liveconsult .side-text{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
#liveconsult .side-text .header{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 100;
}
#liveconsult .side-text .header span{
    color: var(--green);
    font-weight: 800;
}
#liveconsult .side-text .desc{
    max-width: 80%;
}
#booking{
    display: flex;
    margin: var(--marginhero);
   height: 50vh;

}
#booking .left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
}
#booking .left-side .upper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    gap: 2vmax;
    
}
@media only screen and (max-width: 600px) {
    #booking .left-side .upper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        height: 20%;
        gap: 2vmax;
        
    }
    #booking .left-side .lower {
        display: none;
        
    }
}
#booking .left-side .upper .buttonicons{
    height: 60%;
    width: 40%;
    display: flex;
    background-color: #64ebb6;
    cursor: pointer;
    border-radius: 20%;
}
#booking .left-side .upper .buttonicons .circular {
    height: 100%;
    width: 30%;
}
#booking .left-side .upper .buttonicons .circular img{
    object-fit: cover;
    height: 100%;
}
#booking .left-side .upper .btn-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
}
#booking .left-side .upper .btn-text .lower-text{
    
    font-weight: 100;
    font-size: 0.6rem;
}


/* button 2 codes */
#booking .left-side .upper .buttonicons1{
    height: 60%;
    width: 40%;
    display: flex;
    background-color: var(--blue);
    cursor: pointer;
    border-radius: 20%;
}
#booking .left-side .upper .buttonicons1 .circular {
    height: 100%;
    width: 30%;
}
#booking .left-side .upper .buttonicons1 .circular img{
    object-fit: contain;
    height: 100%;
}

#booking .left-side .lower {
    display: flex;
    justify-content: center;
}

#booking .right-side{
    width: 50%;
    display: flex;
    justify-content: right;

}

/* chaticon .logo */
.chatbox{
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
}
.chatbox img{
    object-fit: cover;
    width: 8vmin;
    height: 8vmin;
    z-index: 9999;
}

/* form section  */
.form {
    background: rgb(22,19,54, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  .top-area {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .top-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-area li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
  }
  .top-area li a:hover {
    background: #0080ff;
    color: #ffffff;
  }
  .top-area .active a {
    background: #1da1f2;
    color: #ffffff;
  }
   
  .tab-content > div:last-child {
    display: none;
  }
   
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }
  label {
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: #1da1f2;
  }
  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }
  label.highlight {
    color: #ffffff;
  }
  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #1da1f2;
  }
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }
  .label-field {
    position: relative;
    margin-bottom: 40px;
  }
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1da1f2;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: #0080ff;
  }
  .button-block {
    display: block;
    width: 100%;
  }
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  @media (max-width: 765px) {
      label {
        left: 0;
      }    }
    
      .footer {
        position: relative;
        width: 100%;
        background: #3586ff;
        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vmin;
        flex-direction: column;
      }
      
      .social-icon,
      .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
      }
      
      .social-icon__item,
      .menu__item {
        list-style: none;
      }
      
      .social-icon__link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icon__link:hover {
        transform: translateY(-10px);
      }
      
      .menu__link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      
      .menu__link:hover {
        opacity: 1;
      }
      
      .footer p {
        color: #fff;
        margin: 15px 0 10px 0;
        font-size: 1rem;
        font-weight: 300;
      }
      
      .wave {
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url("https://i.ibb.co/wQZVxxk/wave.png");
        background-size: 1000px 100px;
      }
      
      .wave#wave1 {
        z-index: 20;
        opacity: 1;
        bottom: 0;
        animation: animateWaves 4s linear infinite;
      }
      
      .wave#wave2 {
        z-index: 19;
        opacity: 0.5;
        bottom: 10px;
        animation: animate 4s linear infinite !important;
      }
      
      .wave#wave3 {
        z-index: 20;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWaves 3s linear infinite;
      }
      
      .wave#wave4 {
        z-index: 19;
        opacity: 0.7;
        bottom: 20px;
        animation: animate 3s linear infinite;
      }
      
      @keyframes animateWaves {
        0% {
          background-position-x: 1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      
      @keyframes animate {
        0% {
          background-position-x: -1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }












